@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
html {
  scroll-behavior: smooth;
}
* {

  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat","Poppins", sans-serif;
}
h1{
  font-size: 20px;
  font-family: "Montserrat","Poppins", sans-serif;
  font-weight: 350;
  text-transform: uppercase;
}

.pop-up-text {
  font-size: 2em;
  opacity: 0;
  transform: scale(0.9);
  animation: popUp 1.5s ease-out forwards;
}

@keyframes popUp {
  0% {
      opacity: 0;
      transform: scale(0.9);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

h1 span{
  color: #BC996F;
}


.first{
    border-color: #fff;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}
.imagecontent{
    width: 100%;
    height: 70vh;
    position: relative;
    margin-top: 7vh;

}
.imagecontent .screws {

    z-index: 10;
    width: 100%;
    height: 70vh;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    object-position: center; /* Centers the image within the container */
    position: relative; /* or absolute, depending on the layout needs */
  
}
 .fire{
    z-index: 8; /* lower z-index to appear behind .screws */
    height: 70vh;
    position: absolute; /* ensures it overlaps the .screws element */
    top: 0;
    left: 0;
}

.first .h1text{
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    z-index: 9;
    font-size: 70px;
    color: #EEE9E5;
    position:absolute;
    margin-top: 400px;
    margin-right: 1050px;
    
}







.first {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center content */
  flex-direction: column; /* Stack content vertically */
}

.imagecontent {
  width: 100%;
  height: 61vh; /* Increase the height to make images larger */
  position: relative;
  overflow: hidden; /* Ensures any overflow is cropped */
}





















.first .imagecontent img .screws0{
  display: none  ;
}







@media screen and (max-width: 1325px) {











 .newimage{
  display: block !important ;
}
.screws ,.fire{
  display: none !important;
  
}




}










  @media screen and (max-width: 700px) {



      

    }

  